<!doctype html>
<html ng-app="myApp">
<head>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="../lib/lodash/lodash.js"></script>
    <script src="../lib/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="../dist/ng-bootstrap-category-grid.js"></script>
    <script src="../dist/ng-bootstrap-expand-grid.js"></script>
    <script src="../dist/ng-grid-compiler.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../dist/css/ng-bootstrap-grid.css">

    <style>
        body{
            font-size: 12px;
            font-family: 'Microsoft YaHei','Arial','SimSun';
        }
    </style>
</head>
<body>
<form name="form">
    <div class="container-fluid" ng-controller="MyController">
        <h3>Category Grid</h3>
        <category-grid options="gridOptions" on-select="rowSelect" row-right-click="rightClickEvent"></category-grid>
        <button class="btn btn-default" ng-click="add()" type="button">Add</button>
        <button class="btn btn-default" ng-click="delete()" type="button">Delete</button>
        <button class="btn btn-default" ng-click="submitData()" type="button">Submit Form</button>
        <p>{{resultData}}</p>
    </div>

    <div id="infoDiv" style="display: none; background-color: #00b3ee;">The example div for popup div to display</div>

    <div context-menu class="panel panel-default position-fixed"
         ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
        <div class="dropdown position-fixed" id="rowMenu">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="pointer" role="menuitem" tabindex="1"
                       ng-click="panel.highlight = true">
                        Menu 1
                    </a>
                </li>
                <li>
                    <a class="pointer" role="menuitem" tabindex="2"
                       ng-click="panel.highlight = false">
                        Menu 2
                    </a>
                </li>
                <li>
                    <a class="pointer" role="menuitem" tabindex="3"
                       ng-click="panel.highlight = false">
                        Menu 3
                    </a>
                </li>
            </ul>
        </div>
    </div>
</form>
<script type="text/javascript">
    var myApp = angular.module('myApp', ['ng-context-menu','ng-bootstrap-category-grid']);

    myApp.controller('MyController', ['$scope', function($scope) {
        $scope.rightClick = function(item) {
            console.log('ctrl right click entity: '+ JSON.stringify(item, null, '\t'));
        }

        $scope.typeChange = function(item) {
            console.log('Type Change: '+ JSON.stringify(item, null, '\t'));
        }

        $scope.over = function(link) {
            console.log('mouse over' + link);
        }

        $scope.gridOptions = {
            enableRowSelection: true,
            enableCategory:true,
            columnDefs : [
                {displayName: 'IndexOrder', field:'indexOrder', enableSorting: true},
                {displayName: 'FirstName', field:'firstName', cellTemplate:'<input type="text" ng-model="item[col.field]" style="width:100%;">'},
                {displayName: 'LastName', field:'lastName', cellTemplate:'<over-div title="item[col.field]"></over-div>'},
                {displayName: 'Company', field:'company', category:true},
                {displayName: 'Employed', field:'employed', cellTemplate:'<input type="checkbox" ng-model="item[col.field]" ng-click="cellTemplateScope.changeEmployed(item)">',
                    cellTemplateScope: {
                        changeEmployed : function(item) {
                            console.log(JSON.stringify(item));
                        }
                    }
                },
                {displayName: 'Type', field:'type',
                    cellTemplate:'<select ng-model="item[col.field]" ng-change="appScope.typeChange(item)">' +
                                '    <option value ="1">Developer</option>' +
                                '    <option value ="2">Manager</option>' +
                                '    <option value ="3">Tester</option>' +
                                '</select>'}
            ],
            onRegisterApi : function(gridApi){
              $scope.gridApi = gridApi;
            },
            data : [
                {"indexOrder": "2","firstName": "Cox", "lastName": "Carney", "company": "Enormo", "employed": true, "type":'1'},
                {"indexOrder": "4","firstName": "Lorraine", "lastName": "Wise", "company": "Comveyer", "employed": false, "type":'3'},
                {"indexOrder": "1", "firstName": "Nancy", "lastName": "Waters", "company": "Enormo", "employed": false, "type":'2'},
                {"indexOrder": "3", "firstName": "Coral", "lastName": "Ma", "company": "Enormo", "employed": false, "type":'2'},
                {"indexOrder": "5", "firstName": "Angela", "lastName": "Zero", "company": "Comveyer", "employed": true, "type":'2'},
                {"indexOrder": "6", "firstName": "Luis", "lastName": "Raca", "company": "Comveyer", "employed": true, "type":'2'},
            ]
        }

        $scope.submitData = function() {
            $scope.resultData = $scope.gridOptions.data;
            console.log(JSON.stringify($scope.gridOptions.data, null, '\t'));
        }

        $scope.rowSelect = function(row) {
            console.log('run row select');
        }

        $scope.showData = function(row) {
            console.log('showData', JSON.stringify(row));
        }

        $scope.add = function() {
            $scope.gridOptions.data.push({
                "indexOrder": _.random(500),
                "firstName": "F" + _.random(500),
                "lastName": "L" + _.random(500),
                "company": "C" +_.random(500),
                "employed": true
            });
            $scope.gridApi.refresh();
        }
        $scope.delete = function() {
            console.log(JSON.stringify($scope.gridApi.getSelectedRows()));
        }
        $scope.testData = "Test Data";
    }])
    .directive('overDiv', function () {
        return {
            restrict: 'EA',
            replace: true,
            scope: {
                title: '='
            },
            link: function(scope, element, attrs) {
                element.on('mouseenter', function(e) {
                    var offest = element[0].offsetParent;
                    console.log("left: " + offest.offsetLeft + " , top: " + offest.offsetTop);
                    console.log("clientX: " + e.clientX + " , clientY: " + e.clientY);
                    $('#infoDiv').css({'display' : 'inline', 'position': 'absolute', 'left' : offest.offsetLeft + 20, 'top' : offest.offsetTop + 100});
                    /*$('#infoDiv').css({'display' : 'inline', 'position': 'absolute', 'left' : e.clientX, 'top' : e.clientY+20});*/
                })
                element.on('mouseleave', function(e) {
                    $('#infoDiv').css({'display' : 'none'});
                })
            },
            template: '<a href="" >{{ title }}</a>'
        }
    });
</script>
</body>
</html>