<table width="100%" class="inlineForm">
    <colgroup>
        <col width="20%"/>
        <col width="30%"/>
        <col width="20%"/>
        <col width="30%"/>
    </colgroup>
    <tr>
        <td align="left">
            <label class="ccc-label">First Name</label>
        </td>
        <td>
            <input type="text" class="form-control ccc-field" ng-model="row.item.firstName">
        </td>
        <td align="left">
            <label class="ccc-label">Last Name</label>
        </td>
        <td>
            <input type="text" class="form-control ccc-field" ng-model="row.item.lastName">
        </td>
    </tr>
    <tr>
        <td align="left">
            <label class="ccc-label">Company</label>
        </td>
        <td>
            <input type="text" class="form-control ccc-field" ng-model="row.item.company">
        </td>
        <td align="left">
            <label class="ccc-label">Employed</label>
        </td>
        <td>
            <input type="text" class="form-control ccc-field" ng-model="row.item.employed">
        </td>
    </tr>
</table>