<!doctype html>
<html ng-app="myApp">
<head>
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/lodash/lodash.js"></script>
    <script src="../lib/fixedheadertable/jquery.fixedheadertable.js"></script>

    <script src="../dist/ng-bootstrap-grid.js"></script>
    <script src="../dist/ng-bootstrap-category-grid.js"></script>
    <script src="../dist/ng-bootstrap-expand-grid.js"></script>
    <script src="../dist/ng-grid-compiler.js"></script>

    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../lib/fixedheadertable/defaultTheme.css">
    <link rel="stylesheet" href="../dist/css/ng-bootstrap-grid.css">
    <style>
        body {
            font-size: 12px;
        }
        .otherFeeBorderRight {
            border-right:none !important;
        }
        .center-data {
            text-align: center;
        }
        .right-number {
            text-align: right;
        }
        /*.paged-grid-num-link:hover {
            border: 1px solid #ccc;
            text-decoration: none;
        }*/
    </style>
</head>
<body>
<form name="form">
    <div class="container-fluid" ng-controller="MyController">
        <h1>Pagination Grid</h1>
        <bs-grid options="gridOptions" on-select="rowSelect" on-pagination-change="pageChange" on-sort-changed="sortChange"></bs-grid>
        <!--<pagination-grid options="gridOptions" on-select="rowSelect"></pagination-grid>-->
        <button class="btn btn-default" ng-click="submitData()" type="button">Submit Form</button>
        <button class="btn btn-default" ng-click="selectedRows()" type="button">Get Selected Rows</button>
        <p>{{gridOptions.data}}</p>
    </div>
</form>
<script type="text/javascript">
    var myApp = angular.module('myApp', ['ng-bootstrap-grid']);

    myApp.controller('MyController', ['$scope','$filter', function($scope, $filter) {
        console.log($filter('decimalFilter')(123));
        $scope.gridOptions = {
            gridId : 'testGrid',
            enableOverflow : true,
            overflowHeight : '300px',
            paginationPageSizes: [5, 10, 15],
            paginationPageSize: 5,
            useExternalPagination: true,
            enableRowSelection: true,
            enableGridMenu: false,
            currentMessage: 'Display (',
            separateMessage: '), Total : ',
            unitMessage: ' ',
            displayNumMessage: 'Display Number',
            noDataMessage: '没有找到匹配的结果',
            onRegisterApi : function(gridApi){
                $scope.gridApi = gridApi;
            },
            columnDefs : [
                {displayName: 'FirstName', field:'firstName',enableSorting: true},
                {displayName: 'LastName', field:'lastName',cellStyle: "width:200px",cellClass: 'center-data'},
                {displayName: 'Company', field:'company',cellStyle: "width:200px"},
                {displayName: 'Income', field:'income',cellStyle: "width:200px", filter: 'decimalFilter', cellClass: 'right-number'},
                {displayName: 'Employed', field:'employed',cellStyle: "width:150px", cellTemplate:'<input type="checkbox" ng-model="item[col.field]">'}
            ],
            data : [
                {"firstName": "Cox","lastName": "Carney","company": "IBM","income": 32900,"employed": true},
                {"firstName": "Lorraine","lastName": "Wise","company": "Google","income": 58000,"employed": false},
                {"firstName": "Nancy","lastName": "Eric","company": "IBM","income": 46000,"employed": false},
                {"firstName": "Lora","lastName": "Karl","company": "IBM","income": 20000,"employed": true},
                {"firstName": "Angel","lastName": "Pete","company": "Google","income": 32000,"employed": false},
                {"firstName": "Babala","lastName": "Mildred","company": "IBM","income": 11000,"employed": true},
                {"firstName": "Wind","lastName": "Owen","company": "Facebook","income": 25000,"employed": true, "$disSelectable" : true},
                {"firstName": "Iris","lastName": "Lee","company": "Facebook","income": 22000,"employed": true, "$disSelectable" : true},
                {"firstName": "Rocky","lastName": "Alax","company": "Github","income": 16000,"employed": false, "$disSelectable" : true},
                {"firstName": "Muse","lastName": "Dick","company": "Github","income": 14500,"employed": false, "$disSelectable" : true}
            ]
        }
        $scope.gridOptions.totalItems = 201;

        $scope.submitData = function() {
            $scope.resultData = $scope.gridOptions.data;
            console.log(JSON.stringify($scope.gridOptions.data, null, '\t'));
            $('#bsGrid').fixedHeaderTable({ height: '300', altClass: 'odd', themeClass: 'fancyDarkTable', footer: true});
        }

        $scope.rowSelect = function(row) {
            console.log('run row select');
        }

        $scope.selectedRows = function() {
            var rows = $scope.gridApi.getSelectedRows();
            console.log(JSON.stringify(rows));
        }

        $scope.pageChange = function(pageIndex, pageSize) {
            console.log('The pageIndex is ' + pageIndex + ', pageSize is : ' + pageSize)
        }

        $scope.sortChange = function(pageIndex, pageSize, sortField, sortType) {
            console.log('The pageIndex is ' + pageIndex + ', pageSize is ' + pageSize + ", sortField is " + sortField + ", sortType is " + sortType);
        }

    }])
</script>
</body>
</html>